/* ==========================================================================
   Header
   ========================================================================== */

.site-logo img {
    transform-origin: top center;
    animation: swing 3s ease-in-out infinite;
}

@keyframes swing {
    0% { transform: rotate(5deg); }
    50% { transform: rotate(-5deg); }
    100% { transform: rotate(5deg); }
}